In [39]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver

In [40]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [41]:
mars_site = 'https://redplanetscience.com/'
mars_image = 'https://spaceimages-mars.com/'
mars_facts = 'https://galaxyfacts-mars.com/'
mars_hemisperes = 'https://marshemispheres.com/'

In [42]:
##NASA MARS NEWS##

In [43]:
browser.visit(mars_site)

In [44]:
mars_html = browser.html
mars_soup = bs(mars_html, 'html.parser')

In [45]:
#mars_soup

In [46]:
news_title = mars_soup.find('div', class_='content_title').get_text()
news_p = mars_soup.find_all('div', class_='article_teaser_body')[0].text
print('The latest news title is: ' + news_title)
print('The latest Paragraph Text is: ' +news_p)

The latest news title is: NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars
The latest Paragraph Text is: For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design.

In [47]:
##JPL Mars Space Images - Featured Image##

In [48]:
browser.visit(mars_image)
html = browser.html
images_soup = bs(html, 'html.parser')

In [49]:
#images_soup

In [65]:
image_path= images_soup.find_all('img', class_='headerimage fade-in')[0]['src']
featured_image_url = mars_image + image_path 
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [51]:
##MARS FACTS##

In [52]:
fact_tables = pd.read_html(mars_facts)
fact_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [53]:
mars_factsDF = fact_tables[1]
mars_factsDF

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [54]:
mars_factsDF.columns = ["Characteristic", "Fact"]
mars_factsDF

         Characteristic                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [55]:
mars_html_table_string = mars_factsDF.to_html()
mars_html_table_string

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Characteristic</th>\n      <th>Fact</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [56]:
#print(mars_html_table_string)

In [57]:
##MARS HEMISPHERES##

In [58]:
browser.visit(mars_hemisperes)
hemispheres_html = browser.html
hemispheres_soup = bs(hemispheres_html, 'html.parser')

In [59]:
#hemispheres_soup

In [60]:
hemisphere_image_urls = []

In [61]:
mars_hemispheres_descr = hemispheres_soup.find_all('div', class_='description')

In [62]:
#mars_hemispheres_descr

In [64]:
for i in mars_hemispheres_descr:
    title = i.find("h3").text
    hemispheres_image = i.find("a", class_="itemLink product-item")["href"]
        
    browser.visit(mars_hemisperes + hemispheres_image)
    
    # HTML Object
    image_html = browser.html
    info = bs(image_html, "html.parser")
    
    # Create full image url
    image_url = mars_hemisperes + info.find("img", class_="wide-image")["src"]
    
    hemisphere_image_urls.append({"title" : title, "image_url" : image_url})


    print("")
    print(title)
    print(image_url)
    print("--------------------")

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
--------------------

Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
--------------------

Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
--------------------

Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
--------------------